ReadDataApplication/Service References/ComponentManager/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ReaderComponentService" />
  <xs:element name="ReadData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReaderComponentService" minOccurs="0" name="ReadDataResult" nillable="true" type="q1:ArrayOfPersonalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadData_">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadData_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReaderComponentService" minOccurs="0" name="ReadData_Result" nillable="true" type="q2:ArrayOfPersonalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>